# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# Env
.env

# Mac
.DS_Store

# Logs
*.log

# Build
build/

# VS Code
.vscode/

# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Env
.env

# Mac
.DS_Store